<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style/css/about.css">
	<link rel="stylesheet" type="text/css" href="style/css/headnfoot.css">
    <link rel="stylesheet" type="text/css" href="style/css/main.css">
	<title> whosellsto.me </title>
</head>
<body>
	<div id="container">
		<div id="navBar">
			<div id="navText">
				<a href="../index.html">
					<img id="logo" src="style/images/whoSellsLogo.png">
				</a>
			</div>
			<div id="navLinks">
				<a href="about.html">about</a>
				<a href="contact.html">contact</a>
			</div>
		</div>
		<div id="mainContent">
			<div id="vendorBlock">
				<h1 id="aboutBlockTitle">About</h1>
				<div id="vendorText" class="hoverText">
					Seek out the perfect jobs for your company. Browse through the proposals of schools in your states.
				</div>
			</div>
			<div id="loginBlock">
				<div id="aboutText">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra elit vel ligula laoreet
					placerat. Mauris ipsum urna, consequat a leo ac, ultricies pharetra mi. Etiam dignissim consectetur
					ante, vitae interdum ligula. Nulla aliquet, lorem vitae malesuada molestie, quam nisl tempus tortor,
					eu facilisis turpis arcu rutrum metus. Nam sit amet maximus ipsum. Phasellus tempor sem id neque
					vulputate euismod. Nunc tempor eu mauris iaculis cursus.
				</div>
			</div>
		</div>
		<div id="footer">
			<div id="footerLeft">
				&copy; 2014 CompSci400&#8482; All Rights Reserved.
			</div>
			<div id="footerRight">
				<span class="logoGreen">who</span>.<span class="logoBlue">me</span>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://persua.me/tracking.js?a=c4ca4238a0b923820dcc509a6f75849b&e=83dfaf0a5f94b944be961e5f1f881d7d"></script>
</body>
</html>
