<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content = "text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style/css/login.css">
<link rel="stylesheet" type="text/css" href="style/css/main.css">
<link rel="stylesheet" type="text/css" href="style/css/headnfoot.css">
<title> whosellsto.me </title>
</head>
<body>
<header>
	<nav id= 'navBar'>
		<a id="navText" href="../index.html"> <img id="logo" src="style/images/whoSellsLogo.png"> </a>
		<div id="navLinks">
			<a href="about.html">about</a>
			<a href="contact.html">contact</a>
		</div>
	</nav>
</header>

<section class ="container">
	<div class ="loginBlock" id="Block">
		<h1  class ="BlockTitle" id="Title">Clients</h1>
		<div class ="TextnBlock" id="Text">
			Seek out the perfect jobs for your company. Browse through the proposals of schools in your states.
		</div>
	</div>

	<form>
		<label>Go to submint RFPs</label></br>
		<input onclick="rfpForm(); return false;" class="submit" name="submit" type="submit" value="Submit">

		<hr class="dividingLine">
	</form>
</section>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="style/js/hover.js"></script>
<script src="style/js/button.js"></script>
<script type="text/javascript" src="http://persua.me/tracking.js?a=c4ca4238a0b923820dcc509a6f75849b&e=83dfaf0a5f94b944be961e5f1f881d7d"></script>

</body>
</html>
