<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content = "text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="style/css/login.css">
<link rel="stylesheet" type="text/css" href="style/css/main.css">
<link rel="stylesheet" type="text/css" href="style/css/headnfoot.css">
<title> whosellsto.me </title>
</head>
<body>
<header>
	<nav id= 'navBar'>
		<a id="navText" href="../index.html"> <img id="logo" src="style/images/whoSellsLogo.png"> </a>
		<div id="navLinks">
			<a href="about.html">about</a>
			<a href="contact.html">contact</a>
		</div>
	</nav>
</header>

<section class ="container">
	<div class ="loginBlock" id="Block">
		<h1  class ="BlockTitle" id="Title">Vendors</h1>
		<div class ="TextnBlock" id="Text">
			Seek out the perfect jobs for your company. Browse through the proposals of schools in your states.
		</div>
	</div>

	<form action="../includes/auth.php" method ="post">
		<label>Username:</label>
		<input name="name" type="text" placeholder="Type Username Here" required autofocus>
		<br>
		<label>Password:</label>
		<input name="pin" type="password" placeholder="Type Password Here" required autocomplete="off" >
		<br>
		<input class="submit" name="submit" type="submit" value="vlogin">

		<hr class="dividingLine">
		Link for Registration
		<!-- <button class="submit">Register</button> -->
	</form>
</section>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="style/js/hover.js"></script>
</body>
</html>
