

<h1 id="movedBlockTitleC">Clients</h1>
                    <div id="vendorText" class="hoverText">
                        Seek out the perfect jobs for your company. Browse through the proposals of schools in your states.
                    </div>









/* Style the text boxes */
input, textarea {
width: 439px;
height: 27px;
background: #efefef; /* gives the text boxes a grayish color */
border: 1px solid #dedede; /* makes the border of the boxes grayish (similar to the fill color */
padding: 5px; /* padding inside the text boxes */
margin-top: 5px; /* What does this do? */
font-size: 0.9em; /* What does this do? */
color: #3a3a3a; /* What does this do? */
border-radius: 5px; /* gives it rounded corners */
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
input:focus, textarea:focus {
border: 1px solid #97d6eb; /* the text area that currently holds focus is given a border that is dark gray with a tint of green */
}
/* Style the submit button */
#submit {
width: 127px;
height: 48px;
background: #696969; /* gives the submit box a grayish color */
border: none;
margin-top: 20px; /* overhead padding */
cursor: pointer; /* changes the cursor icon that appears when you hover over the submit button */
}


===============================================
button {
    background-color:       rgba(0,0,0,0.5);
    color:                  white;
    border:                 none;
    height:                 20px;
    width:                  80px;
}
form {
    padding: 50px;
    margin: 0 auto;
    width:459px;
}
input:focus, textarea:focus {
    border: 1px solid #97d6eb; /* the text area that currently holds focus is given a border that is dark gray with a tint of green */
}

input, textarea {
    height: 27px;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 5px;
    margin-top: 5px;
    font-size: 0.9em;
    color: #3a3a3a;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}

#dividingLine{
    width:                  80%;
    height:                 2px;
}
#loginBlock{
    max-width:              400px;
    width:                  100%;
    height:                 400px;
    float:                  left;
}
#loginText {
    padding:                50px 0 20px 0;
    text-align:             center;
    font-size:              15px;
}
#movedBlockTitle {
    text-shadow:            2px 2px 2px rgba(0,0,0,0.5);
    margin:                 158px 0 34px 100px;
    font-size:              60px;
    font-family:            'HelveticaUltraLight', Helvetica, Arial;
    text-transform:         uppercase;
    letter-spacing:         2px;
    transition:             margin 0.5s;
}
#signupText {
    padding:                20px 0 0 0;
    text-align:             center;
}
#signupButton {
    background-color:       rgba(0,0,0,0.5);
    color:                  white;
    border:                 none;
    height:                 20px;
    width:                  80px;
}
#submit {
    width: 127px;
    height: 48px;
    background-color:       rgba(0,0,0,0.5);
    border: none;
    color:                  white;
    margin-top: 20px;
    cursor: pointer;
}
#submit:hover {
    opacity: 0.9;
}
#vendorBlock{
    max-width:              400px;
    margin:                 0 100px 0 0;
    width:                  100%;
    height:                 400px;
    float:                  left;
}
#vendorText, #clientText {
    opacity:                0;
    padding:                0 40px;
    text-align:             center;
    font-size:              20px;
    transition:             opacity 0.5s;
}


#mainContent {
    margin:                 72px auto;
    max-width:              900px;
    width:                  100%;
    overflow:               auto;
}







